# Composer vendor folder
/vendor/

# Environment file
.env

# PHPStorm / VS Code files
/.idea/
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and cache
*.log
*.cache

create_admin.php